{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "plugin"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "plugin/package.json"
        ]
      }
    ]
  ]
}
